# Dependencies
backend/node_modules/
frontend/node_modules/

# Environment files
backend/.env
frontend/.env

# Build folders
backend/dist/
frontend/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/